# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Next
.next

# Logs
logs
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Compiled files
build/
dist/
.out/

# Env files
.env
.env.*
.env.local

# Editor directories and files
.idea
.vscode
*.sublime-workspace
*.sublime-project
